
body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.note,
.lyric {
    display: inline-block;
    height: 100px;
    width: 100px;
}

.note {
    border-radius: 50%;
}

.lyric {
    height: 2rem;
    padding: 0.5rem 0 1.5rem;
    text-align: center;
}

.a {
    background-color: #4b0082;
}

.b {
    background-color: #f0f;
}

.c {
    background-color: #f00;
}

.d {
    background-color: #ffa500;
}

.e {
    background-color: #ff0;
}

.f {
    background: #7cfc00;
}

.g {
    background-color: #088;
}

.rest {
    background-color: #ccc;
}
