
body {
    background: #555;
    color: #ccc;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#song {
    padding: 2rem 0;
    text-align: center;
}

.note,
.lyric {
    display: inline-block;
    width: 100px;
}

.note {
    border-radius: 50%;
    height: 100px;
}

.lyric {
    height: 2rem;
    padding: 0.5rem 0 1.5rem;
    text-align: center;
}

.rest {
    background-color: #ccc;
}

.a {
    background-color: #4b0082;
}

.b {
    background-color: #f0f;
}

.c {
    background-color: #f00;
}

.d {
    background-color: #ffa500;
}

.e {
    background-color: #ff0;
}

.f {
    background: #7cfc00;
}

.g {
    background-color: #088;
}

.xylophone .a {
    background-color: #f00;
}

.xylophone .b {
    background-color: #b0b;
}

.xylophone .c {
    background-color: #00d;
}

.xylophone .d {
    background-color: #fff;
}

.xylophone .e {
    background-color: #070;
}

.xylophone .f {
    background: #ff7b00;
}

.xylophone .g {
    background-color: #ec0;
}
